/* ! Html bases start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
}

.container {
  padding: 0 5rem;
  margin: 0 auto;
  background-color: transparent;
}

.header,
.dark__mode__container,
.section,
.section__label,
.filter__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:root {
  --text-color: #111517;
  --bg-color: #FAFAFA;
  --input-bg-color: #fff;
  --input-color: #848484;
}

/* ! Html bases end */







/* ! Header  start */
.header {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: var(--input-bg-color);
}

.header__h1 {
  font-size: 1.5rem;
  color: var(--text-color);
  font-weight: 800;

}

.dark__mode__container {
  width: 8.4%;
}


.dark__mode__text {
  font-size: 1rem;
  color: var(--text-color);
  font-weight: 600;

}





/* ! Header  end */




/* ! section start */



.section {
  margin-top: 3rem;

  .section__label {
    background-color: var(--input-bg-color);
    padding: 1rem;
    width: 30%;
    gap: 1.2rem;

    .section__label__input {
      cursor: pointer;
    }

    #country {
      width: 100%;
      outline: none;
      border: none;
      background-color: transparent;
      color: var(--input-color);
    }
  }

  .filter__container {
    width: 15%;
    position: relative;
    user-select: none;

    .filter__head {
      padding: 1rem;
      background-color: var(--input-bg-color);
      width: 100%;
      cursor: pointer;
    }

    .filter__options {
      width: 100%;
      background-color: var(--input-bg-color);
      padding: 1rem;
      position: absolute;
      opacity: 0;
      z-index: 1000;

      .filter__option {
        padding: .3rem;
        width: 100%;
        cursor: pointer;

      }
    }
    .filter__options.active{
      opacity: 1;
      }
  }



}
.filter__options.active{
opacity: 1;
}


/* ! section  end */








/* !main start  */

.main {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
  row-gap: 3rem;
}
.card__container:hover{
  transform: scale(1.1);
  transition: 300ms all ease;
  }
.card__container {
  width: 15rem;
  height: 21rem;
  background-color: var(--input-bg-color);
cursor: pointer;
 
  .card__img__container img {
    width: 100%;
  }

  .card__info__container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    .country__info {
      display: flex;
      flex-direction: column;
      gap: .3rem;
    }
  }

}




/* !main end  */