  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Open Sans', sans-serif;
  }
  /* scroll var idi getdi */
  body {
    overflow-x: hidden;
  }
  
  li {
      list-style-type: none;
  }

  a {
      text-decoration: none;
  }

  .container {
      width: 80%;
      margin: auto;
  }

  .header {
      padding: 15px 0;
      box-shadow: 1px 1px 3px rgb(0, 0, 0, 0.4);
  }

  .header h2 {
      font-weight: 500;
      color: gray;
  }

  .header__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .header__icon{
      font-size: 20px;
      cursor: pointer;
  }

  /* Section */

  section{
    padding: 30px 0;
  }

  .section__title {
      text-align: center;
  }

  .section__content ul {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .section__content ul li{
    background-color: rgb(231, 244, 239);
    padding: 10px 15px;
    border-radius: 7px;
    font-weight: 600;
    cursor: pointer;
  }

  /* Section CARD */
.cards{
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
}
  .card-item{
    width: 25%;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid gray;
    padding: 20px;
  }
  .cards .card__img {
    width: 100%;
    height: 200px;
  } 
  .cards .card__img img {
    width: 100%;
    height: 100%;
  } 

  .card__content p{
    font-weight: 700;
    font-size: 19px;
  }
  .card__content-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
  .card__content-footer-price{
    font-size: 22px;
    font-weight: bolder;
  }
  .card__content-footer-icon i{
    color: #fff;
    font-size: 22px;
  }
  .card__content-footer-icon{
    border-radius: 1px;
    cursor: pointer;
    padding: 10px;
    background-color: #000;
  }





/*! menu start */
.menu__section{
  background-color: bisque;
  width: 26%;
  min-height: 40rem;
position: absolute;
right: 0;
top:0 ;
padding: 1rem 1rem;
transform: translate(100%);
transition: 1s ease;
}
.menu__section.active{
  transform: none;
}


.menu__head__text{
text-align: center;
}
.menu__canel__icon{
  font-size: 2rem;
  cursor: pointer;
}
.menu__total__text{
border-top: 2px solid;
margin-top: 1rem;
}
.menu__canel__container,.menu__total__text{
  display: flex;
  justify-content: right;
}
.menu__button{
  color:#fff;
  padding: 10px 15px;
  background-color: rgb(243, 140, 44);
  
}.menu__button__container{
display: flex;
justify-content: center;
padding-top:1rem ;
}
  /* !menu end */


  